/*header{
    background-color:grey;
    margin:auto;
    color:white;
    font-size:18px;
    background-attachment:fixed;
    display:block;  
}
*/
body{
    
}
logo,nav{display:inline }
nav ul {
    list-style-type: none;
  margin: auto;
  padding: 0;
   background-color:gray;
   overflow:hidden;
}

nav li{
float:left;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav li a:hover:not(.active) {
  background-color:white;
  color:black;
}

.active {
  background-color: green;
}
#logo {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    margin-right: 0px;
    color: #FFF;
}
#logo img {
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}
.footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: gray;
   color: white;
   text-align: center;
}
.first-column {
    width: 66%;
    padding: 0 10px 0 0;
    float: left;
}

.second-column {
    width: 33%;
    padding: 0 10px 0 0;
    float: right;
}

@media only screen and (max-width: 800px) {

   .first-column {
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }

    .second-column {
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }
    
}
