#logo img{
height:100px;
margin:auto;
float:left;
}

nav{
display:inline;
}

nav ul{
list-style-type: none;
margin: auto;
padding: 0;
background-color:black;
overflow:hidden;
}

nav li{
float:left;
}

nav li a{
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

nav li a:hover:not(.active){
background-color:white;
color:black;
}

.active{
background-color: green;
}

.footer{
position: fixed;
left: 0;
bottom: 0;
height:30px;
width: 100%;
background-color: black;
color: white;
text-align: center;
font-size:x-small;
}

.first-column{
margin-left: 10px;
margin-top: 10px;
text-align:center;
width: 50%;
float: left;
border-radius: 15px; 
border: 3px ridge black;
list-style-position: inside;
}

.second-column{
width: 30%;
margin-top:10px;
text-align:center;
float: right;
border-radius: 15px; 
border: 3px outset black;
}
